input{
    margin-left: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 5px;
    border: 1px solid #ccc;
 
    width: 100%;
}
label{
    margin-left: 10px;
    margin-top: 5px;
}
textarea{
    margin-left: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 80%;
}
.background1{
    background: radial-gradient(ellipse at center, #3d5776 0%,#2a3466 100%);
   }
   button{
    width: 30%;
   }
   .contacts{
    height: 80vh;
    width: 75vw;
   }